{% extends "includes/base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% load cache %}
{% load thumbnail %}
{% cache 20 index_page %}
{% block content %}
<div class="col-md-9">

  {% include "includes/menu.html" with index=True %}

  {% for post in page %}
    {% include "includes/post_item.html" with post=post %} 
  {% endfor %}

  {% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator%}
  {% endif %}

</div>
{% endblock %}
{% endcache %}
