{% extends "includes/base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Что было задействовано для разработки данного сайта
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>
              Данный сайт является проектом-заданием для Яндекс.Практикума.<br>
              Были зайдействованы:
            </p>
            <ul>
              <li> ноутбук Huawei Matebook 13</li>
              <li> Windows 10</li>
              <li> Visual Studio Code </li>
              <li> Python </li>
              <li> Django 2.2</li>
              <li> Bootstrap 5.0</li>
              <li> git </li>
              <li> Котики</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
